<div class="session-product-details">
  <div class="product-datails-card" *ngIf="product">
    <div class="productImage">
      <img [src]="product.image" class="center" />
    </div>
    <div class="showcase">
      <div>
        <h3>{{ product.name }}</h3>
        <h4>{{ product.price | currency }}</h4>
        <p>{{ product.description }}</p>
      </div>
      <button (click)="addToCart(product)">Add cart</button>
      <button (click)="share()" class="item-foot">
        <i class="material-icons" id="icon">share</i>
      </button>
    </div>
  </div>
</div>
