<div class="session-product-details">
  <div class="product-datails-card" *ngIf="product">
    <div class="productImage">
      <img [src]="product.image" class="center" />
    </div>
    <div class="showcase">
      <div>
        <h3 class="product-name">{{ product.name }}</h3>
        <tag-inclined tagName="{{ product.price | currency }}"></tag-inclined>
        <p>{{ product.description }}</p>
      </div>
      <div class="actions-buttons">
      <button (click)="addToCart(product)">Add cart</button>
      <button (click)="share()" class="item-foot">
        <i class="material-icons" id="icon">share</i>
      </button>
      </div>
    </div>
  </div>
</div>
