<div class="card-data">
  <div *ngFor="let product of products" class="card">
    <div class="productImage">
      <img [src]="product.image" class="center" />
    </div>
    <div class="productInfo">
      <div class="productHeader">
        <a
          class="productTitle"
          [title]="product.name + ' detalhes '"
          [routerLink]="['/products', product.id]"
        >
          {{ product.name }}
        </a>
        <p *ngIf="product.description">{{ product.description }}</p>
      </div>
    </div>
    <div class="footer-card">
      <span class="productPrice">$ {{ product.price }}</span>
      <div>
        <app-product-alerts [product]="product" (notify)="onNotify()">
        </app-product-alerts>
      </div>
      <button (click)="addToCart(product)" class="button-cart">
        Add to cart
      </button>
    </div>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
