<h2>Products</h2>

<div class="card-data">
  <div *ngFor="let product of products" class="card">
    <img [src]="product.image" class="center" />
    <div class="productInfo">
      <div class="productHeader">
        <a
          [title]="product.name + ' detalhes '"
          [routerLink]="['/products', product.id]"
        >
          {{ product.name }}
        </a>
        <p *ngIf="product.description">{{ product.description }}</p>
      </div>
      <div class="productPrice">
        <b>$ {{ product.price }}</b>
      </div>
    </div>
    <div class="foot-card">
      <button (click)="addToCart(product)" class="item-foot">
        <i class="material-icons" id="icon">shopping_cart</i>Add to cart
      </button>
      <button (click)="share()" class="item-foot">
        <i class="material-icons" id="icon">share</i>
      </button>
      <div class="item-foot">
        <app-product-alerts [product]="product" (notify)="onNotify()">
        </app-product-alerts>
      </div>
    </div>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
