/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

.card-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 12px;
  width: 321px;
  height: 321px;
  border-radius: 25px;
  border: 2px solid #0d1519;
  padding: 20px;
}

.productTitle {
  color: #0d1519;
  font-weight: 600;
}

.productImage {
  max-width: 280px;
  max-height: 280px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: 55%;
}

.foot-card {
  display: flex;
  justify-content: start;
  margin-top: 4px;
}

.item-foot {
  border-radius: 25px;
  margin-right: 8px;
  background-color: #03784d;
}

#icon {
  color: #f0f0f0;
}

.productInfo {
  margin-top: 12px;
  display: flex;
  width: 100%;
  height: 68px;
}

.productHeader {
  width: 80%;
}

.productPrice {
  width: 20%;
  text-align: center;
  color: #013623;
}
