.badge {
  position: absolute;
  top: 40px;
  right: 62px;
  line-height: 1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: #ff671c;
  color: #fff;
  font-size: 0.625rem;
  font-weight: 700;
  z-index: 1;
  text-align: center;
}

.titleSSS{
  text-align: center;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
