.badge {
  position: absolute;
  top: 40px;
  right: 24px;
  line-height: 1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: #ff671c;
  color: #fff;
  font-size: 0.625rem;
  font-weight: 700;
  z-index: 1;
  text-align: center;
}

.titleSSS {
  text-align: center;
}

.home {
  cursor: pointer;
}
