<a [routerLink]="['/']">
  <i class="material-icons" style="color: #f0f0f0">home</i>
</a>
<div class="titleSSS">
  <h1>SSS</h1>
  <h2>Simple Suplement Store</h2>
</div>
<a routerLink="/cart" class="button fancy-button" style="color: #52b376"
  ><i class="material-icons" style="color: #52b376; padding-right: 12px;"
    >shopping_cart</i
  >Cart
  <span class="badge">{{ numberCart }}</span>
</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
